
article {
  display: flex;
  flex-direction: column;
  font-family: "Source Sans Pro";
  font-size: 20;
}

.tweet {
  border: 2px solid #545149;
}

.tweet:hover {
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);

}

.avatar-name {
  display: flex;
  flex-direction: row; 
  align-items: center;
  font-size: 25px;
  padding: 5px;
}

.avatar-name i {
  font-size: 40px;
  padding-right: 10px;
  padding-left: 15px;
}
.handle {
  margin-left: auto;
  padding-right: 15px;
}
.stored-tweet {
  display: flex;
  font-size: 20px;
  padding-left: 3%;
  padding-right: 3%;
  margin-left: 13px;
  margin-right: 13px;
  border: none;
  border-bottom: 3px solid;
}

.icons-date {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  font-size: 15px;
  padding-top: 3px;
  padding-bottom: 15px;
  padding-right: 3%;
  padding-left: 3%;
}

.icons-date i {
  padding: 7px;
}

.icons-date i:hover {
  color: rgb(245, 86, 28)
}

.timeago {
  font-size: 18px;
  margin-right: auto;
}