
article {
  display: flex;
  flex-direction: column;
  font-family: "Source Sans Pro";
  font-size: 20;
}

.tweet-container {
  padding-top: 1.5em;
  border: 2px solid #545149;
}
.avatar-name {
  display: flex;
  flex-direction: row; 
  align-items: center;
  padding-right: 3%;
  padding-left: 3%;
  font-size: 25px;
}

.handle {
  margin-left: auto;
}
.stored-tweet {
  display: flex;
  align-content: flex-start;
  border: none;
  border-bottom: 2px solid;
}

.icons-right {
  align-items: flex-end;
}